*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}
nav ul{
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 15px;
}
.btn{
  background-color: rgb(56, 137, 56);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}