*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  max-width: 1200px;
  margin: auto;
}
nav ul{
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 15px;
  list-style: none;

}
.btn{
  background-color: rgb(56, 137, 56);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}
.banner {
  background-image: url("./assets/hero-bg.png");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h4 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: #308888;
  font-size: 16px;
}

.banner-content h1 {
  font-size: 56px;
  color: white;
}

.banner-content p {
  font-size: 16px;
  color: white;
  text-align: center;
}
.card-section{
  text-align: center;
  
  background-color: rgb(247, 245, 245);

  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 50px;
}
.banner-card{
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-around;
  gap: 10px;
}
.middle-item{
  
  justify-content:center;
  flex-direction: column;
  align-items: center;

}
.card-section img{
  background-color:red ;
  padding: 10px;
  border-radius: 50%;
}
.card-section p{
  color: gray;
}
.card-section h1{
  font-size: 18px;
}
.Third-sec{
  padding: 25px 0;
  max-width: 1200px;
  margin: auto;
}
.fourth-sec{
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.fourth-sec-contain {
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 50%;
}
.fourth-sec-list{
  list-style: none;
}
.fourth-sec-list li{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  font-weight: 600;
}
.fifth-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin:60px auto;
  background-color:rgba(247, 246, 242, 1); 
  padding: 40px 0;
  text-align: center;
  gap: 14px;
}
.fifth-sec p{
  color: gray;
}
footer{
  background-color: var(--Style, rgba(0, 25, 49, 1));
}
.footer-content{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto ;
  padding: 45px 0;
 border-bottom:1px solid rgb(83, 82, 82);
}
.icons{
  margin: 10px 0;
  display: flex;
  gap: 10px;

}
footer p{
  text-align: center;
  padding: 10px;
  color: gray;
}