*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}
nav ul{
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 15px;
  list-style: none;

}
.btn{
  background-color: rgb(56, 137, 56);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}
.banner {
  background-image: url("./assets/hero-bg.png");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h4 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: #308888;
  font-size: 16px;
}

.banner-content h1 {
  font-size: 56px;
  color: white;
}

.banner-content p {
  font-size: 16px;
  color: white;
  text-align: center;
}
.card-section{
  text-align: center;
  
  background-color: rgb(247, 245, 245);

  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 50px;
}
.banner-card{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  row-gap: 5px;
}
.middle-item{
  
  justify-content:center;
  flex-direction: column;
  align-items: center;

}
.card-section img{
  background-color:red ;
  padding: 10px;
  border-radius: 50%;
}
.card-section p{
  color: gray;
}
.Third-sec{
  padding: 25px;
}